@model EFSRT_IV.Models.Product

@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Nuevo producto</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group my-2">
                <label class="form-label">Nombre:</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-label">Precio:</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-label">Categoria:</label>
                <select asp-for="category" class="form-select" asp-items="ViewBag.categorias"></select>
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-label">Stock:</label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>

            <span class="my-3 d-block">Por defecto, los productos recién registrados estarán habilitados.</span>
   
            <div class="form-group d-flex justify-content-start align-items-center gap-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="FindAllProducts" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
