@model EFSRT_IV.Models.Product

@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>Actualizar producto</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="state" />

            <div class="form-group my-2">
                <label class="form-label">Nombre:</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-label">Precio:</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-label">Categoria:</label>
                <select asp-for="category" class="form-select" asp-items="ViewBag.categorias"></select>
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="form-label">Stock:</label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>

            <div class="my-3 form-group d-flex justify-content-start align-items-center gap-3">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Find" asp-route-id="@Model.id">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>


<div id="sideBar">
</div>
@section Scripts {
    <script>
        $("#sideBar").load("/Store/SideBar")
    </script>
}