<div class="bg-dark vh-100 position-absolute top-0 start-0" style="width: 300px">
    <div class="w-75 my-5 mx-auto">
        <p class="text-white h2 mb-4">Tienda 1</p>
        <ul class="nav nav-pills d-flex flex-column">
            <li class="nav-item">
                <a class="nav-link text-white h5" asp-action="Panel" asp-controller="Store">Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white h5" asp-action="FindAllProducts" asp-controller="Products">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white h5" asp-action="" asp-controller="User" >Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white h5" asp-action="" asp-controller="User" >Informes</a>
            </li>
        </ul>
    </div>
</div>