@model IEnumerable<EFSRT_IV.Models.Sell>

@{
    ViewData["Title"] = "FindAllSells";
}

<h1>Ventas</h1>
<hr />

<div class="border border-4 rounded" style="width: 45%; max-height: 50vh; overflow-y: scroll">
    <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th>
                    Nro.
                </th>
                <th>
                    Total
                </th>
                <th>
                    Fecha
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @{
            int nro = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @nro
                        @* @Html.DisplayFor(modelItem => item.id) *@
                    </td>
                    <td>
                        S/@Html.DisplayFor(modelItem => item.total)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.ActionLink("Ver", "FindSell", new { id = item.id })
                    </td>
                </tr>
                nro++;
            }
        }
        </tbody>
    </table>
</div>

<div id="sideBar">
</div>
@section Scripts {
    <script>
        $("#sideBar").load("/Store/SideBar")
    </script>
}