
@{
    ViewData["Title"] = "Index";
}

<h1>Mis negocios</h1>
<hr />

<div class="w-100">
    <div class="w-50 me-auto d-flex justify-content-evenly gap-4">
        <div class="border">
            <a asp-action="Panel" asp-controller="Store">
                <img />
                <span>Tienda 1</span>
            </a>
        </div>
        <div class="border">
            <a asp-action="Panel" asp-controller="Store">
                <img />
                <span>Tienda 2</span>
            </a>
        </div>
    </div>
</div>
