@model IEnumerable<DB.Models.Tiendum>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis negocios</h1>
<hr />

<div class="mb-4">
    <a asp-action="CreateStore" asp-controller="Store" class="btn btn-primary">
        Registrar nuevo negocio
    </a>
</div>

<div class="w-100 me-auto ms-0 row flex-wrap justify-content-start gap-5">
    @foreach (var item in Model)
    {
        <div class="rounded-3 px-4 col-4 bg-dark-subtle" style="width: 360px">
            <a asp-action="Panel" asp-route-store="@item.IdTienda" asp-controller="Store"
                class="w-100 h-100 py-4 text-decoration-none link-dark gap-4 d-flex justify-content-evenly align-items-center">
                <img src="~/images/store/store.png" alt="..." style="width: 100px; height: 100px; filter: invert(10%)" />

                <span class="h4">
                    @item.RazonSocial
                </span>
            </a>
        </div>
    }
</div>
