@model IEnumerable<DB.Models.Tiendum>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis negocios</h1>
<hr />

<div class="w-100">
    <div class="w-50 me-auto d-flex flex-wrap justify-content-evenly gap-4">
        @foreach (var item in Model)
        {
            <div class="border">
                <a asp-action="Panel" asp-route-store="@item.IdTienda" asp-controller="Store">
                    <img />
                    <span>@item.Nombre</span>
                </a>
            </div>
        }
    </div>
</div>
