@model List<EFSRT_IV.Models.Sell>

@{
    ViewData["Title"] = "Generar Reportes";
}

<h1>Generar Reportes</h1>
<hr />

<div class="w-100" style="max-height: 60vh; overflow-y: scroll">
    <div class="mx-auto" style="width: 90%">
        @foreach (var item in Model)
        {
            <div class="card my-2">
                <div class="card-header">
                    <span class="h4">
                        Fecha @item.date.ToShortDateString()
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Resumen</h5>
                    <p class="card-text">Cantidad de productos vendidos: @item.details.Sum(d => d.quantity)</p>
                    <p class="card-text">Cantidad de ventas realizadas: @item.details.Count()</p>
                    <p class="card-text">Total de ingresos: S/@item.total</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("GenerateReportPDF", new { date = item.date })" class="btn btn-primary">Descargar PDF</a>
                </div>
            </div>
        }
    </div>
</div>

<div id="sideBar">
</div>

@section Scripts {
    <script>
        $("#sideBar").load("/Store/SideBar")
    </script>
}
