
@{
    ViewData["Title"] = "Panel";
}

<h1>Resumen General</h1>
<hr />

<div class="w-100">
    <div class="mx-auto py-4 row" style="width: 85%; height: 700px">
        <div class="w-50 d-flex flex-column justify-content-evenly gap-4">
            <div class="mx-auto h-50 border border-4" style="width:90%">
                <p class="p-5 text-center h5 mt-auto">
                    Ingresos
                </p>
            </div>
            <div class="mx-auto h-50 border border-4" style="width:90%">
                <p class="p-5 text-center h5">
                    Informes
                </p>
            </div>
        </div>
        <div class="w-50 h-100">
            <div class="d-block h-100 border border-4" style="width: 95%">
                <p class="p-5 text-center h5">
                    Ventas
                </p>
            </div>
        </div>
    </div>
</div>


<div id="sideBar">
</div>
@section Scripts {
    <script>
        $("#sideBar").load("/Store/SideBar")
    </script>
}