@model EFSRT_IV.Models.ChartViewModel;
@{
    ViewData["Title"] = "Panel";
}

<div id="sideBar">
</div>

<h1>Resumen General</h1>
<hr />

<div class="w-100">
    <div class="mx-auto py-4 row" style="width: 85%; height: 600px">
        <div class="w-50 d-flex flex-column justify-content-evenly gap-4">
            <div class="mx-auto h-50 border border-4 bg-light" style="width:90%">
                <a class="p-5 text-center h5" asp-action="" asp-route-store="" asp-controller="">
                    Ingresos
                </a>
            </div>
            <div class="mx-auto h-50 border border-4 bg-light" style="width:90%">
                <a class="p-5 text-center h5" asp-action="" asp-route-store="" asp-controller="">
                    Informes
                </a>
            </div>
        </div>
        <div class="w-50 h-100">
            <div class="d-block h-100 border border-4 bg-light" style="width: 95%">
                <a class="p-5 text-center h5" asp-action="" asp-route-store="" asp-controller="">
                    Ventas
                </a>
                <div class="col-md-12">
                    <canvas id="ventasChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#sideBar").load("/Store/SideBar")
    </script>

    <script>
        var ventasCtx = document.getElementById('ventasChart').getContext('2d');
        var ventasChart = new Chart(ventasCtx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.VentasLabels)),
                datasets: [{
                    label: 'Ventas de los últimos 30 días',
                    data: @Html.Raw(Json.Serialize(Model.VentasData)),
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}